*{
  margin: 0;
  padding : 0;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

*::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: #3e3e3e;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('./styles/fonts/LINESeedKR-Bd.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Rg';
  src: url('./styles/fonts/LINESeedKR-Rg.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LINESeedKR-Th';
  src: url('./styles/fonts/LINESeedKR-Th.ttf');
  font-weight: normal;
  font-style: normal;
}